<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
   </head>
  <body>

    <div class="fluid">
      <div class="row navbar">
        <div class="col-sm-8 offset-1 title">
          <h2>diskuz</h2>
        </div>
        <div class="col-sm-1 navbartabs">
          <a href="/main">Main</a>
        </div>
        <div class="col-sm-1 btn">
          <a href="/logout">Logout</a>
        </div>
      </div>
    </div>
    <br><br>

<div class="profile-box">
  <h1>{{ userdata.username }}</h1>
  <br>
  <h6>Email: {{ userdata.email }}</h6>
  <br>
  <h6>Rating: {{ userdata.votes }} Followers: {{ followers }} Following: {{ following }}</h6>
  <a href="/follow/{{ userdata.username }}">Follow</a>
</div>

<h3 class="link-box-head">My Links</h3>
{% for link in links %}
<div class="link-box"><h6><a href="{{ link.url }}">{{ link.title }}</a>&nbsp;&nbsp;&nbsp; | {{ link.timeposted }}</h6>
  <p><a href="link/{{ link.id }}">Comments</a></p>
  <a href="upvote/{{ link.id }}/{{ link.username }}">Upvote+1</a><br>
</div>
{% endfor %}

</body>
</html>
